<!DOCTYPE html>
<html>

<head>
    <title>PI POC</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app"> 
        <form @submit.prevent="findParticipants">
            <label for="name">Nom :</label>
            <input id="name" type="text" v-model="participantName">
            <button type="submit">Chercher</button>
        </form>
        <div v-if="!errorMessage && participants.length > 0 ">
            <li v-for="participant in participants" :key="participant.id">
                {{displayInfos(participant)}}
                <span v-if="participant.nbreStops > 0">
                    <input type="color" :value="participant.markerColor" @change="changeColor($event, participant)">
                    <button v-if="participant.stopsVisible" @click="hideStops(participant)">
                        Cacher Stops
                    </button>
                    <button v-else @click="displayStops(participant)">Voir Stops</button>
                </span>

            </li>
        </div>
        <div v-if="errorMessage">
            <p>Erreur : {{ errorMessage }}</p>
        </div>
        <div id="map"></div>
    </div>
    <script>
        const participantsUrl = 'http://localhost:8080/participants/find?nom=';

        const app = Vue.createApp({
            data() {
                return {
                    participantName: '',  // valeur de nom pour la recherche de participants
                    participants: [], // liste des participants trouvés correspondant à l'adresse saisie
                    map: null, // la map associée à la vue
                    errorMessage: null, // pour afficher des messages d'erreur
                    colors: ['#e9002c', '#c7ff39', '#bba958', '#c1ca7f', '#d8e7ad', '#edcf6e', '#dca28a', '#c27990', '#a0577f', '#744348'],
                }
            },
            methods: {
                /**
                 * pour chercher un participant
                 */
                async findParticipants() {
                    this.errorMessage = null;
                    try {
                        if (this.participants.length > 0) {
                            for (let participant of this.participants) {
                                if (participant.stopsLayer)
                                    participant.stopsLayer.remove(this.map);
                            }
                        }
                        let response = await fetch(participantsUrl + encodeURI(this.participantName))
                        if (response.ok) {
                            let data = await response.json();
                            if (data.length > 0) {
                                this.participants = data
                                for (let i = 0; i < data.length; i++) {
                                    this.participants[i].markerColor = this.colors[i % this.colors.length];
                                }
                            }
                            else {
                                this.errorMessage = `Pas de participant dont le nom contient ${this.participantName}`;
                            }
                        } else {
                            this.errorMessage = "Erreur " + response.status;
                        }
                    } catch (error) {
                        console.error(error);
                        this.errorMessage = "Erreur " + error.message;
                    }
                },
                async displayStops(participant) {
                    if (!participant.stopsLayer) {

                        let geojsonMarkerOptions = {
                            radius: 8,
                            fillColor: participant.markerColor,
                            color: "#000",
                            weight: 2,
                            opacity: 1,
                            fillOpacity: 0.8
                        };
                        let response = await fetch("http://localhost:8080/stops/" + participant.id);
                        let geoJSON = await response.json();
                        participant.stopsLayer = L.geoJSON(geoJSON, {
                            pointToLayer: function (feature, latlng) {
                                return L.circleMarker(latlng, geojsonMarkerOptions);
                            },
                            onEachFeature: function (feature, layer) {
                                layer.bindPopup(`<p>${participant.prenom} ${participant.nom}</p>
                                 date début : ${feature.properties.date_debut}<br>
                                 date fin : ${feature.properties.date_fin}
                                `);
                            }
                        });
                    }
                    participant.stopsLayer.setStyle({ fillColor: participant.markerColor });
                    participant.stopsLayer.addTo(this.map);
                    participant.stopsVisible = true;
                },
                async hideStops(participant) {
                    if (participant.stopsLayer) {
                        participant.stopsLayer.remove(this.map);
                        participant.stopsVisible = false;
                    }
                },
                changeColor(event, participant) {
                    participant.markerColor = event.target.value;
                    if (participant.stopsVisible) {
                        participant.stopsLayer.setStyle({ fillColor: participant.markerColor });
                    }
                },
                displayInfos(participant) {
                    return `id : ${participant.id} Nom : ${participant.nom} Prenom : ${participant.prenom} Nbre stops : ${participant.nbreStops}`;
                },
            },
            mounted() {
                // méthode invoquée quand le composant Vue a été monté
                // initialise la carte centrée sur Grenoble
                this.map = L.map('map').setView([45.1875602, 5.7357819], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
                    maxZoom: 18,
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(this.map);
            },

        })
            .mount("#app")
    </script>

</body>


</html>